<md-data-table-toolbar layout="row">
    <h2 class="md-title">Edit Profile</h2>
    <span flex></span>
</md-data-table-toolbar>

<md-data-table-container>
    <md-content class="md-padding">
        <form novalidate name="profile.editForm" ng-submit="profile.updateUser(profile.user)">
            <md-input-container class="md-block">
                <label>email</label>
                <input type="email" md-maxlength="30" required name="email" ng-model="profile.user.email">
                <div ng-messages="profile.editForm.email.$error">
                    <div ng-message="required">L'email est obligatoire</div>
                    <div ng-message="required">L'email est invalide.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Nom utilisateur</label>
                <input required type="text" md-maxlength="30" name="username" ng-model="profile.user.username" >
                <div ng-messages="profile.editForm.username.$error">
                    <div ng-message="required">Le nom est obligatoire.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Mot de passe</label>
                <input required name="password" type="password" ng-model="profile.user.password" ng-value="">
                <div ng-messages="profile.editForm.password.$error">
                    <div ng-message="required">Le mot de passe est obligatoire.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Confirmation de votre mot de passe</label>
                <input required name="password" type="password" ng-model="profile.user.confirmPassword"
                       compare-to="profile.user.password" ng-value="">
                <div ng-messages="profile.editForm.password.$error">
                    <div ng-message="required">La confirmation du mot de passe est obligatoire.</div>
                    <div ng-message="compareTo">Le mot de passe n'est pas identique</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <canvas id="canvasPhoto" class="img-circle"></canvas>
                <md-button ng-click="profile.choisirPhoto()" class="md-button md-ink-ripple"> Sélectionner une photo (2 Mo
                    max)
                </md-button>
                <input required aria-label="trigger" name="triggerInput" type="file" id="triggerInput"
                       onchange="angular.element(this).scope().profile.setFile(this)" accept="image/*" capture>
            </md-input-container>
            <div>
                <md-button type="submit">
                    Editer
                </md-button>
            </div>
        </form>
    </md-content>
</md-data-table-container>
