<md-data-table-toolbar layout="row">
  <h2 class="md-title">My To Do list</h2>
  <span flex></span>
  <md-button class="md-icon-button">
    <md-icon md-font-icon="ion-plus-round" ng-click="::todo.creationDialog($event)">

    </md-icon>
  </md-button>
  <md-button class="md-icon-button">
    <md-icon md-font-icon="ion-close-round"  style="color:red;" ng-click="::todo.removeSelected()">
    </md-icon>
  </md-button>
</md-data-table-toolbar>

<md-data-table-container>
  <table md-data-table md-row-select="todo.selected" md-progress="deferred">
    <thead md-order="todo.query.order" md-trigger="todo.onOrderChange">
    <tr>
      <th name="Name" order-by="name"></th>
      <th name="Dead line" order-by="dueTo"></th>
      <th name="createdAt" order-by="createdAt"></th>
      <th nams="update"></th>
    </tr>
    </thead>
    <tbody>
    <tr md-auto-select ng-repeat="item in todo.list">
      <td>{{item.name}}</td>
      <td>{{item.dueTo | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{item.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>
        <md-button class="md-icon-button" ng-click="todo.editDialog($event,item)">
          <md-icon md-font-icon="ion-edit"></md-icon>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</md-data-table-container>

<md-data-table-pagination md-limit="todo.query.limit"
                          md-page="todo.query.page"
                          md-total="{{todo.count}}"
                          md-trigger="todo.onPaginationChange">

</md-data-table-pagination>

