<div layout-padding layout-align="center center">
  <md-tabs md-selected="auth.selectedTab" md-dynamic-height md-border-bottom md-stretch-tabs="always" md-enable-disconnect="true">
    <md-tab label="signin">
      <md-content class="md-padding">
        <h1 class="md-display-2">Connexion</h1>
        <form novalidate name="auth.signinForm" ng-submit="auth.signin()">
          <md-input-container class="md-block">
            <label>email</label>
            <input type="email" md-maxlength="30" required name="email" ng-model="auth.signinUser.email">
            <div ng-messages="auth.signinForm.email.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="required">Invalid email.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input required name="password" type="password" ng-model="auth.signinUser.password">
            <div ng-messages="auth.signinForm.password.$error">
              <div ng-message="required">Password is required.</div>
            </div>
          </md-input-container>
          <div>
            <md-button type="submit">
              Connexion
            </md-button>
          </div>
        </form>
      </md-content>
    </md-tab>
    <md-tab label="signup">
      <md-content class="md-padding">
        <h1 class="md-display-2">Inscription</h1>
        <form novalidate name="auth.signupForm" ng-submit="auth.signup()">
          <md-input-container class="md-block">
            <label>email</label>
            <input type="email" md-maxlength="30" required name="email" ng-model="auth.signupUser.email">
            <div ng-messages="auth.signupForm.email.$error">
              <div ng-message="required">L'email est obligatoire</div>
              <div ng-message="required">L'email est invalide.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Nom utilisateur</label>
            <input required type="text" md-maxlength="30"  name="username" ng-model="auth.signupUser.username">
            <div ng-messages="auth.signupForm.username.$error">
              <div ng-message="required">Le nom est obligatoire.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Mot de passe</label>
            <input required name="password" type="password" ng-model="auth.signupUser.password" >
            <div ng-messages="auth.signupForm.password.$error">
              <div ng-message="required">Le mot de passe est obligatoire.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Confirmation de votre mot de passe</label>
            <input required name="password" type="password" ng-model="auth.signupUser.confirmPassword" compare-to="auth.signupUser.password">
            <div ng-messages="auth.signupForm.password.$error">
              <div ng-message="required">La confirmation du mot de passe est obligatoire.</div>
              <div ng-message="compareTo">Le mot de passe n'est pas identique</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
              <canvas id="canvasPhoto" class="img-circle"></canvas>
              <md-button ng-click="auth.choisirPhoto()" class="md-button md-ink-ripple"> Sélectionner une photo (2 Mo max)</md-button>
              <input required aria-label="trigger"  name="triggerInput" type="file" id="triggerInput" onchange="angular.element(this).scope().auth.setFile(this)" accept="image/*" capture >
          </md-input-container>
          <div>
            <md-button type="submit">
              Valider
            </md-button>
          </div>
        </form>
      </md-content>
    </md-tab>
  </md-tabs>
</div>
