<md-dialog aria-label="Paramètre du compte"  ng-cloak>
  <form name="dialog.toForm" ng-submit="dialog.submitForm(dialog.user)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ dialog.title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Nom</label>
          <input md-maxlength="30" required name="name" ng-model="dialog.user.username">
          <div ng-messages="dialog.todoForm.name.$error">
            <div ng-message="required">Le nom est obligatoire.</div>
            <div ng-message="md-maxlength">Le nom depasse la taille maximale.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" md-autofocus>
        {{ dialog.buttonLabel }}
      </md-button>
      <span flex></span>
      <md-button type="button" ng-click="dialog.close()">
        Cancel
      </md-button>
    </div>
  </form>
</md-dialog>