<md-dialog aria-label="{{ dialog.title }}"  ng-cloak>
  <form name="dialog.tweetForm" ng-submit="dialog.submitForm(dialog.tweet)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ dialog.title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Fermer la fenêtre"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <div class="md-dialog-content">
        <md-input-container>
          <label>Theme</label>
          <md-select name="themeSelection" ng-model="dialog.tweet.theme" required>
            <md-option ng-repeat="t in dialog.themes" value="{{t.label}}">
              {{t.label}}
            </md-option>
          </md-select>
          <div ng-messages="dialog.tweetForm.themeSelection.$error">
            <div ng-message="required">Le choix d'un thème est obligatoire</div>
          </div>
        </md-input-container>
        <div class="md-actions" layout="row">
          <md-input-container class="md-block">
            <label>Message</label>
            <input md-maxlength="140" required name="message" ng-model="dialog.tweet.message">
            <div ng-messages="dialog.tweetForm.message.$error">
              <div ng-message="required">Un message est obligatoire.</div>
              <div ng-message="md-maxlength">le tweet ne doit pas dépasser les 140 caractères.</div>
            </div>
          </md-input-container>
          <md-button type="button" ng-click="dialog.choisirPhotoTweet()">
            <md-icon md-font-icon="ion-plus-round" ></md-icon>
          </md-button>
        </div>
        <md-input-container class="md-block">
          <canvas id="canvasPhotoTweet"></canvas>
          <input required aria-label="trigger"  name="triggerInput" type="file" id="triggerInput" onchange="angular.element(this).scope().dialog.setFileTweet(this)" accept="image/*" capture >
        </md-input-container>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" md-autofocus>
        {{ dialog.buttonValiderLabel }}
      </md-button>
      <span flex></span>
      <md-button type="button" ng-click="dialog.close()">
        {{ dialog.buttonQuitterLabel }}
      </md-button>
    </div>
  </form>
</md-dialog>
